<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Service Project Categories</h2>

        <ul>

            <% categories.forEach(category=> { %>

                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.name %>
                    </a>
                </li>

                <% }) %>

        </ul>

        <div class="link-actions">
            <p><a href="/new-category">Add a new category</a></p>
        </div>
    </main>

    <%- include('partials/footer') %>